.c4d-woo-badge {
	&__sale,
	&__featured,
	&__new {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background: #e5605d;
	    line-height: 70px;
	    text-align: center;
	    font-size: 14px;
	    color: #fff;
	    position: absolute;
	    top: 100px;
	    left: 5%;
	    z-index: 9;
	}
	&__featured {
		top: 200px;
	}
	&__new {
		top: 300px;
	}
}